.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.drag-active {
  font-weight: bold;
  border: 3px dashed red;
  padding: 0.2em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-uploaded {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
}

.align-center {
  display: flex;
  align-items: center;
}
